<%- include("partials/header") -%>

<div class="box">
  <h1>Choose a List!</h1> <!--put in their username -->
  <h4>Pick one from the list below</h4>
  <br>

  <div class="list-group">
    <% for (const list of userLists) { %>
      <% const numItems = String(list.items.length) %>
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="/user/<%=  userLowercase  %>/lists/<%=  list.link  %>">
          <%=  list.displayName  %><span class="badge badge-secondary badge-pill"><%=numItems%></span>
        </a>
    <% } %>

    <div class="list-group-item new-item-li">
      <form action="/add-list" method="post">
        <div class="input-group">
          <input type="text" class="form-control new-input border-0 text-center" placeholder="create new list" name="newList">
          <div class="input-group-append">
            <button class="btn btn-lg btn-outline-secondary add-button" type="submit">+</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <br>
  <p>We are working on adding a way to delete lists, but <a class="text-muted" href="mailto:ashley.kuipers@hotmail.com"><u>let us know</u></a> if you need one deleted sooner</p>

</div>

<%- include("partials/footer") -%>
