<%- include("partials/header") -%>

<div class="box">
  <h1>Hello <%=userCapitalized%>!</h1>
  <h4><%=errorMessage%></h4>

  <!-- password form -->
  <form class="signin" action="/password" method="post">

    <div class="input-group input-group-lg mb-3">

      <!-- password input -->
      <input type="password" class="form-control" placeholder="Password" name="password" autofocus>

      <!-- submit button -->
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Submit</button>
      </div>

    </div>

    <br>


    <p>Can't log in? Please <a class="text-muted" href="mailto:ashley.kuipers@hotmail.com"><u>email us</u></a> to reset your account </p>

    <input type="hidden" name="userCapitalized" value=<%=userCapitalized%>><!-- temp -->


  </form>
</div>

<%- include("partials/footer") -%>
